@import 'fontStyle';
@import 'media';

.hero-banner {
  height: 100vh;
}

.hero-content {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image {
  img {
    height: 200px;
    width: 200px;
  }
}

.hero-text {
  padding: 80px;
  h1 {
    font-family: $hero-text-heading;
  }
  p {
    text-align: justify;
  }
}

.section {
  margin-bottom: 50px;
  h2 {
    font-family: $section-heading-text;
    font-size: 5em;
  }
}

.life-lists {
  padding-top: 20px;
  column-count: 2;
  li {
    padding: 10px;
    list-style: none;
    h5 {
      font-family: $ul-heading-text;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1em;
    }
    p {
      text-align: justify;
      font-size: 15px;
    }
  }
}

@media screen and (max-width: $galaxy) {
  .hero-content {
    .profile-image {
      display: none;
    }
    .hero-text {
      padding: 20px;
    }
  }

  .life-lists {
    column-count: 1;
  }
}