@import 'fontStyle';

.navbar-brand {
  color: #000;
}

.navbar-brand:hover {
  color: black;
  text-decoration: underline;
}

.navbar-nav {
  a {
    color: #000;
  }

  a:hover {
    color: white;
    background-color: #000;
  }
}

.navbar-brand {
  font-family: $hero-text-heading;
}