@import 'fontStyle';

nav {
  background-color: #fff;
}

.navbar-brand {
  color: #000;
  font-family: $hero-text-heading;
}

.navbar-brand:hover {
  color: black;
}

.navbar-nav {
  a {
    color: #000;
  }

  a:hover {
    color: white;
    text-decoration: underline;
  }
}