.portfolio-container {
  height: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.html-css-port {
  width: 100%;
}

.row {
  margin: 0;
}

.card-heading, .card-sub-header {
  width: 100%;
  text-align: center;
}

.card-heading {
  margin-top: 50px;
}

.card {
  border: 1px solid var(--color-three);
  margin-bottom: 20px;
  transition: border 0.1s, transform 0.3s;
}

.card:hover {
  border: 1px solid var(--color-two);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  cursor: pointer;
}

.card img:hover {
opacity: 0.6;
}

.card-p i {
  margin-right: 8px;
}

.card-img-top {
  border-bottom: 1px solid #000;
}