@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Reenie+Beanie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Reenie+Beanie&display=swap");
nav {
  background-color: #fff;
}

.navbar-brand {
  color: #000;
  font-family: "Major Mono Display", monospace;
}

.navbar-brand:hover {
  color: black;
}

.navbar-nav a {
  color: #000;
}

.navbar-nav a:hover {
  color: white;
  text-decoration: underline;
}

.hero-banner {
  height: 100vh;
}

.hero-content {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-image img {
  height: 200px;
  width: 200px;
}

.hero-text {
  padding: 80px;
}

.hero-text h1 {
  font-family: "Major Mono Display", monospace;
}

.hero-text p {
  text-align: justify;
}

.section {
  margin-bottom: 50px;
}

.section h2 {
  font-family: "Reenie Beanie", cursive;
  font-size: 5em;
}

.life-lists {
  padding-top: 20px;
  -webkit-column-count: 2;
          column-count: 2;
}

.life-lists li {
  padding: 10px;
  list-style: none;
}

.life-lists li h5 {
  font-family: "Montserrat Subrayada", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
}

.life-lists li p {
  text-align: justify;
  font-size: 15px;
}

@media screen and (max-width: 540px) {
  .hero-content .profile-image {
    display: none;
  }
  .hero-content .hero-text {
    padding: 20px;
  }
  .life-lists {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer ul li {
  list-style: none;
  padding: 10px;
  font-size: 30px;
}

footer ul li a {
  color: #000;
}

footer ul li a:hover {
  color: #000;
  text-decoration: underline;
}

.portfolio-container {
  height: auto;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.html-css-port {
  width: 100%;
}

.row {
  margin: 0;
}

.card-heading, .card-sub-header {
  width: 100%;
  text-align: center;
}

.card-heading {
  margin-top: 50px;
}

.card {
  border: 1px solid var(--color-three);
  margin-bottom: 20px;
  -webkit-transition: border 0.1s, -webkit-transform 0.3s;
  transition: border 0.1s, -webkit-transform 0.3s;
  transition: border 0.1s, transform 0.3s;
  transition: border 0.1s, transform 0.3s, -webkit-transform 0.3s;
}

.card:hover {
  border: 1px solid var(--color-two);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  cursor: pointer;
}

.card img:hover {
  opacity: 0.6;
}

.card-p i {
  margin-right: 8px;
}

.card-img-top {
  border-bottom: 1px solid #000;
}
/*# sourceMappingURL=styles.css.map */